<div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading">Edit Contact</a>
  </div>

<form class = "pure-form" action="/contacts/<%= @contact.id %>" method="post">
	<fieldset>
  <input type="hidden" name="_method" value="put">
  <input type="text" name="first_name" value="<%= @contact.first_name %>">
  <input type="text" name="last_name" value="<%= @contact.last_name %>">
  <input type="text" name="email" value="<%= @contact.email %>">
  <input type="text" name="note" value="<%= @contact.note %>">
</fieldset>
</form>

<form class = "pure-form" action="/contacts/<%= @contact.id %>" method="post">
  <button type="submit" class="pure-button pure-button-primary">Submit</button>
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="pure-button pure-button-primary" name="Delete Contact">Delete</button>
</form>

